:root {
	--bg-color: #FFFFFF;
	--fg-color: #000000;
    --orange: #FFA500;
}

html {
	font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tucnak {
    font-size: 80px;
    font-weight: 900;
	color: var(--orange);
}

.languages {
    font-weight: 700;
    font-size: 40px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}
